# Preparations
- Install *MySQL Workbench*: https://dev.mysql.com/downloads/workbench/
- Connect our database by using *MySQL Workbench*: https://dev.mysql.com/doc/workbench/en/wb-mysql-connections-new.html\
In setup new connection form, enter connection name you like and then enter hostname and username.\
**Hostname: dbnewyorkcartoon.cgyqzvdc98df.us-east-2.rds.amazonaws.com**\
**Username: dbuser**\
And after clicking 'Test connection', you need to enter the passcode=**Sql123456**.\
If testing connection succeeds, you can click 'OK' to create the new connection.

## Connect to MySQL Database in Python

host='dbnewyorkcartoon.cgyqzvdc98df.us-east-2.rds.amazonaws.com'\
database='new_york_cartoon'\
user='dbuser'\
password='Sql123456'

In [12]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
pd.set_option('display.max_colwidth', None)

try:
    connection = mysql.connector.connect(host='dbnewyorkcartoon.cgyqzvdc98df.us-east-2.rds.amazonaws.com',
                                         database='new_york_cartoon',
                                         user='dbuser',
                                         password='Sql123456'
                                         )
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You succeed to connect to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.33
You succeed to connect to database:  ('new_york_cartoon',)

In [2]:
cursor.execute('select database();')
db = cursor.fetchall()
db[0][0]

'new_york_cartoon'

### Show names of tables in the database

In [3]:
cursor.execute('show tables;')
tables = cursor.fetchall()
tables

[(bytearray(b'base'),),
 (bytearray(b'explanation'),),
 (bytearray(b'explanation_from_pixels'),),
 (bytearray(b'interface_records'),),
 (bytearray(b'matching'),),
 (bytearray(b'matching_from_pixels'),),
 (bytearray(b'new_descriptions'),),
 (bytearray(b'ranking'),),
 (bytearray(b'ranking_from_pixels'),),
 (bytearray(b'result'),),
 (bytearray(b'users'),)]

### Show attributes of a table

In [4]:
attr_show_query = "select * from result where contest_num=510;"  # change table name to gain attributes of different table
cursor.execute(attr_show_query)

num_attr = len(cursor.description)
attr_names = [i[0] for i in cursor.description]

records = cursor.fetchall()
attr_names

['result_id',
 'caption',
 'ranking',
 'mean',
 'prec',
 'votes',
 'not_funny',
 'somewhat_funny',
 'funny',
 'contest_num']

### Sql select query

In [5]:
sql_select_Query = "select caption,ranking from result where contest_num in (853,852,851);"  # you can change query in this line for selecting your target data
cursor.execute(sql_select_Query)

# show attributes names of target data
num_attr = len(cursor.description)
attr_names = [i[0] for i in cursor.description]
print(attr_names)

# get all records
records = cursor.fetchall()
print("Total number of rows in table: ", cursor.rowcount)
df = pd.DataFrame(records, columns=attr_names)
df

['caption', 'ranking']
Total number of rows in table:  15005

,caption,ranking
0,I’m here to conduct your exit interview.,0
1,"At this point, I’m no longer sure which one of us they’re testing.",1
2,"The restroom? Third door on your right, then left, left again, then right, right and left. You can’t miss it.",2
3,That concludes our study. You can see yourself out.,3
4,It’s an honor to work with a giant in the field.,4
...,...,...
15000,It can’t be authentic - Swi,4641
15001,I try all cheese. I eat what I can.,4642
15002,A cheese board for the whole ship? Where’s the iceberg lettuce?,4643
15003,Swiss has no place on our cheese board! Let's hope it drifts toward a cruise ship.,4644
15004,In search of the great white Swiss,4645

## Close the connection

In [13]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed.")
else:
    print("MySQL connection has been closed.")

MySQL connection is closed.