## Loading data

In [17]:
import pandas as pd
import numpy as np
from data_clean_functions import *
from insert_new_data import updata_base, updata_result
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 200)

In [18]:
# read new data from The New Yorker Cartoon Caption Contest
df = read_org_data(875, 878)
df

,ranking,caption,mean,precision,votes,not_funny,somewhat_funny,funny,contest_num
0,0,"See, honey, it is possible . . . one bag for six months.",1.803629,0.017041,2480,1184,599,697,875
1,1,"If they were vultures, I'd call that carrion luggage.",1.724394,0.021084,1484,750,393,341,875
2,2,"""Oh sure, they look professional, but I'll bet they're just a bunch of quacks.""",1.714015,0.020064,1584,796,445,343,875
3,3,Must be American. Canadian Geese don’t take their work on vacation.,1.704672,0.018603,1798,903,523,372,875
4,4,They were hired to defend a murder of crows.,1.703647,0.018183,1974,1023,513,438,875
...,...,...,...,...,...,...,...,...,...
18550,4530,My legs are your gift from Santa,1.015152,0.015268,66,65,1,0,878
18551,4531,We'd have room for four stockings with a dresser.,1.014925,0.015038,67,66,1,0,878
18552,4532,Stockings with my two favorite people’s names? You shouldn’t have. But who’s going to wear my name on only one leg?,1.014085,0.014185,71,70,1,0,878
18553,4533,It makes more sense for the delivery driver to leave them by the door.,1.011905,0.011976,84,83,1,0,878
18554,4534,"St. Nicholas puts the candy in shoes, not stockings. You hear that Santa?",1.000000,0.019048,53,53,0,0,878

## Clean dataset

## Clean 'nan' values and blank-space values

In [19]:
df2 = org_data_cleaner.drop_nan(df)
df2

Number of nan values in caption column:  6
Number of blank-space values in caption column:  0

,ranking,caption,mean,precision,votes,not_funny,somewhat_funny,funny,contest_num
0,0,"See, honey, it is possible . . . one bag for six months.",1.803629,0.017041,2480,1184,599,697,875
1,1,"If they were vultures, I'd call that carrion luggage.",1.724394,0.021084,1484,750,393,341,875
2,2,"""Oh sure, they look professional, but I'll bet they're just a bunch of quacks.""",1.714015,0.020064,1584,796,445,343,875
3,3,Must be American. Canadian Geese don’t take their work on vacation.,1.704672,0.018603,1798,903,523,372,875
4,4,They were hired to defend a murder of crows.,1.703647,0.018183,1974,1023,513,438,875
...,...,...,...,...,...,...,...,...,...
18544,4524,My legs are your gift from Santa,1.015152,0.015268,66,65,1,0,878
18545,4525,We'd have room for four stockings with a dresser.,1.014925,0.015038,67,66,1,0,878
18546,4526,Stockings with my two favorite people’s names? You shouldn’t have. But who’s going to wear my name on only one leg?,1.014085,0.014185,71,70,1,0,878
18547,4527,It makes more sense for the delivery driver to leave them by the door.,1.011905,0.011976,84,83,1,0,878
18548,4528,"St. Nicholas puts the candy in shoes, not stockings. You hear that Santa?",1.000000,0.019048,53,53,0,0,878

## Handle duplicated trouble

### For duplicated captions in each contest

In [20]:
# check duplicated captions in each contest
org_data_cleaner.check_num_dup_each_contest(df2)

Total number of duplicated captions:  0

In [21]:
df_dropped = org_data_cleaner.drop_dup_each_contest(df2)
df_dropped

d:\Courses\Capstone\MySQL\clean_data\Database\updating\data_clean_functions.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp.drop_duplicates(subset=['caption'], keep="first", inplace=True)
d:\Courses\Capstone\MySQL\clean_data\Database\updating\data_clean_functions.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['ranking'] = df_temp.index

,ranking,caption,mean,precision,votes,not_funny,somewhat_funny,funny,contest_num
0,0,"See, honey, it is possible . . . one bag for six months.",1.803629,0.017041,2480,1184,599,697,875
1,1,"If they were vultures, I'd call that carrion luggage.",1.724394,0.021084,1484,750,393,341,875
2,2,"""Oh sure, they look professional, but I'll bet they're just a bunch of quacks.""",1.714015,0.020064,1584,796,445,343,875
3,3,Must be American. Canadian Geese don’t take their work on vacation.,1.704672,0.018603,1798,903,523,372,875
4,4,They were hired to defend a murder of crows.,1.703647,0.018183,1974,1023,513,438,875
...,...,...,...,...,...,...,...,...,...
18544,4524,My legs are your gift from Santa,1.015152,0.015268,66,65,1,0,878
18545,4525,We'd have room for four stockings with a dresser.,1.014925,0.015038,67,66,1,0,878
18546,4526,Stockings with my two favorite people’s names? You shouldn’t have. But who’s going to wear my name on only one leg?,1.014085,0.014185,71,70,1,0,878
18547,4527,It makes more sense for the delivery driver to leave them by the door.,1.011905,0.011976,84,83,1,0,878
18548,4528,"St. Nicholas puts the candy in shoes, not stockings. You hear that Santa?",1.000000,0.019048,53,53,0,0,878

### Handle duplicated captions across contests

In [22]:
df_dropped_2 = org_data_cleaner.drop_dup_across_contests(df_dropped)
df_dropped_2

d:\Courses\Capstone\MySQL\clean_data\Database\updating\data_clean_functions.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['ranking'] = df_temp.index

,ranking,caption,mean,precision,votes,not_funny,somewhat_funny,funny,contest_num
0,0,"See, honey, it is possible . . . one bag for six months.",1.803629,0.017041,2480,1184,599,697,875
1,1,"If they were vultures, I'd call that carrion luggage.",1.724394,0.021084,1484,750,393,341,875
2,2,"""Oh sure, they look professional, but I'll bet they're just a bunch of quacks.""",1.714015,0.020064,1584,796,445,343,875
3,3,Must be American. Canadian Geese don’t take their work on vacation.,1.704672,0.018603,1798,903,523,372,875
4,4,They were hired to defend a murder of crows.,1.703647,0.018183,1974,1023,513,438,875
...,...,...,...,...,...,...,...,...,...
18531,4518,My legs are your gift from Santa,1.015152,0.015268,66,65,1,0,878
18532,4519,We'd have room for four stockings with a dresser.,1.014925,0.015038,67,66,1,0,878
18533,4520,Stockings with my two favorite people’s names? You shouldn’t have. But who’s going to wear my name on only one leg?,1.014085,0.014185,71,70,1,0,878
18534,4521,It makes more sense for the delivery driver to leave them by the door.,1.011905,0.011976,84,83,1,0,878
18535,4522,"St. Nicholas puts the candy in shoes, not stockings. You hear that Santa?",1.000000,0.019048,53,53,0,0,878

# For 'base' table in the database

In [23]:
df_base = create_new_content_for_base(df_dropped_2, 875, 878)
df_base

,contest_num,num_caption,num_resp,image_url
0,875,5673,632342,https://nextml.github.io/caption-contest-data/images/875.jpg
1,876,4705,741557,https://nextml.github.io/caption-contest-data/images/876.jpg
2,877,3635,485550,https://nextml.github.io/caption-contest-data/images/877.jpg
3,878,4523,590166,https://nextml.github.io/caption-contest-data/images/878.jpg

In [8]:
# insert new data into database
updata_base(df_base)

Connected to MySQL Server version  8.0.33
You succeed to connect to database:  ('new_york_cartoon',)
You succeed to insert new data into 'base' table.
MySQL connection is closed.

# For 'result' table in the database

In [24]:
# this process takes a long time
updata_result(df_dropped_2)

Connected to MySQL Server version  8.0.33
You succeed to connect to database:  ('new_york_cartoon',)
You succeed to insert new data into 'result' table.
MySQL connection is closed.